// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// $primary-color: #FB472B;
$primary-color: rgba(251, 71, 43, 1);
$primary-color-0: rgba(251, 71, 43, 0);

$secondary-color: rgba(146, 191, 62, 1);
$secondary-color-0: rgba(146, 191, 62, 0);

$dark-color: #525252;
$gray-color: #B5B6B7;

